:root {
    --fire: rgba(231, 0, 4, 1);
    --water: rgba(104, 175, 245, 1);
    --air: rgba(245, 193, 104, 1);
    --earth: rgba(28, 194, 38, 1);
}

.mainContainer {
    background-image: url("assets/bg.png") !important;
    height: 100%;
}

.power {
    width: auto;
}

.warBg {
    position: relative;
}

.side-helper {
    position: fixed;
    bottom: 0;
    right: 0;
}

.mainMap {
    position: relative;
    width: fit-content;
}
.mainImg {
    width:60em;
}

#game {
    padding-top: 40px;
    height: 100%;
}

.fire {
    color: #e70004
}

.water {
    color: #68aff5
}

.air {
    color: #f5c168
}

.earth {
    color: #1cc226
}

.ocean {
    color: #1da2d8
}

.fire-bg {
    background-color: #e70004 !important
}

.water-bg {
    background-color: #68aff5 !important
}

.air-bg {
    background-color: #f5c168 !important
}

.earth-bg {
    background-color: #1cc226 !important
}

.ocean-bg {
    background-color: #1da2d8 !important
}

.diplomacy-overlay {
    position: absolute;
    border: 10px solid #272727;
    border-radius: 7px;
}

.fight-overlay {
    position: absolute;
    border: 10px solid #272727;
    border-radius: 7px;
    background-color: #575757;
}
.fight-yourTroops {
    margin-top : 1em;
}
.fight-troop {
    border: 4px solid #272727;
    border-radius: 4px;
    background-color: #575757cc;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.fight-troop.selectable:not(.fight-enemy):hover {
    border-color: white
}

.fight-enemy {
    background-color: rgba(255, 0, 0, 0.8)
}

.fight-troops {
    position: relative;
}

.grid {
    position: absolute;
    left: 0;
    right: 0;
}

.war-grid-container {
    width: 548px;
    height: 548px;
    background-image: url(assets/battle-for-grid.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item {
    height: 64px;
    width: 64px;
    border: 4px solid black;
    margin: 4px 0 0 4px;
    position: relative;
    word-wrap: auto;
}

.troop-stack {
    display: inline-block;
    width: 84px;
    height: 84px;
    position: relative;
}

.troop-stack h4 {
    position: absolute;
    bottom: 0;
    right: 12px;
}


/**************** Icon *****************/

#avatarIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    display: none;
    border: 1px solid;
    transition: all 3s ease-out
}

#avatarIcon.air {
    top: 68%;
    left: 43%;
    display: initial;
    border: 1px solid #f5c168;
}

#avatarIcon.earth {
    display: initial;
    top: 47%;
    left: 60%;
    border: 1px solid #1cc226;
}

#avatarIcon.fire {
    display: initial;
    top: 46%;
    left: 24%;
    border: 1px solid #e70004;
}

#avatarIcon.water {
    display: initial;
    top: 12%;
    /*left: 385px;*/
    left: 48%;
    border: 1px solid #68aff5;
}


/************ Player ************/

.tab {
    border-radius: 7px;
    background-color: #505050;
}